.rod {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.category {
    display: flex;
    justify-content: space-between;
    width: 683px;
    align-items: center;
}
.img {
    width: 100px;
    height: 100px;
}
.location {
    width: 171px;
    height: 46px;
}